<div class="flex justify-center w-full h-full">
  <div class="gallery">
    <!--TODO Aggiorna la variabile $n sul scss con il numero attuale di immagini se le cambi -->
    <img src="assets/images/members/combo1.jpeg" />
    <img src="assets/images/members/combo3.jpeg" />
    <img src="assets/images/members/mosca.jpeg" />
    <img src="assets/images/members/price.jpeg" />
    <img src="assets/images/members/rerum.jpeg" />
    <img src="assets/images/members/cqb.webp" />
    <img src="assets/images/members/goofy.webp" />
    <img src="assets/images/members/instructor.webp" />
    <img src="assets/images/members/notturna.webp" />
    <img src="assets/images/members/taurus-mosca.webp" />
  </div>
</div>
