<div class="flex justify-center w-full h-full">
  <div class="gallery">
    <!--TODO Aggiorna la variabile $n sul scss con il numero attuale di immagini se le cambi -->
    <img src="assets/images/members/drill.jpeg" />
    <img src="assets/images/members/akira.jpeg" />
    <img src="assets/images/members/ariete.jpeg" />
    <img src="assets/images/members/combo1.jpeg" />
    <img src="assets/images/members/combo2.jpeg" />
    <img src="assets/images/members/combo3.jpeg" />
    <img src="assets/images/members/drill.jpeg" />
    <img src="assets/images/members/germanico.jpeg" />
    <img src="assets/images/members/johnny.jpeg" />
    <img src="assets/images/members/main-wallpaper.jpg" />
    <img src="assets/images/members/mosca.jpeg" />
    <img src="assets/images/members/price.jpeg" />
    <img src="assets/images/members/rerum.jpeg" />
    <img src="assets/images/members/scorpion.jpeg" />
    <img src="assets/images/members/smith.jpeg" />
    <img src="assets/images/members/spike.jpeg" />
    <img src="assets/images/members/taurus.jpeg" />
    <img src="assets/images/members/vecho.jpeg" />
  </div>
</div>
