@media screen and (max-width: 414px) {
  #pitch-title {
    font-size: 24px;
  }

  #wrapper {
    margin-left: 6%;
  }

  #pitch {
    max-width: 90%;
    font-size: 18px;
  }

  #instagram {
    margin-left: 0px;
  }

  #email {
    margin-left: 0px;
  }
}

@media screen and (min-width: 736px) {
  #wrapper {
    margin-left: 20%;
  }

  #pitch {
    max-width: 70%;
    font-size: 20px;
  }

  #contacts-wrapper {
    white-space: nowrap;
  }

  #whatsapp {
    margin-left: 0px;
  }

  #instagram {
    margin-left: 6%;
  }

  #email {
    margin-left: 6%;
  }

  #underage_module {
    width: max-content;
    margin: auto;
  }
}
