<div style="margin-left: 20%; font-size: 50%; color: #525252">
  <h1>Sei interessato al softair?</h1>
  <div style="font-size: 20px; max-width: 70%">
    <p>
      Se sei interessato al mondo del Softair e vuoi provare l'ebrezza di questo
      sport, contattaci ai seguenti indirizzi e organizzeremo una prova al costo
      di €5,00* nella quale ti forniremo l'attrezzatura e ti insegneremo le basi
      del movimento tattico di squadra!
    </p>
    <div style="white-space: nowrap">
      <contact-button
        style="display: inline-block"
        contactName="Whatsapp"
        contactValue="+393913225127"
        iconClass="fab fa-whatsapp"
        contactRedirect="https://api.whatsapp.com/send?phone=+393913225127"
      ></contact-button>
      <contact-button
        style="display: inline-block; margin-left: 6%"
        contactName="Instagram"
        contactValue="LEGIONE_ETRURIA"
        iconClass="fab fa-instagram"
        contactRedirect="https://www.instagram.com/legione_etruria/"
      ></contact-button>
      <contact-button
        style="display: inline-block; margin-left: 6%"
        contactName="Email"
        contactValue="legioneetruria@gmail.com"
        iconClass="fas fa-envelope"
        contactRedirect="mailto:legioneetruria@gmail.com"
      ></contact-button>
    </div>
    <p>
      I minori NON accompagnati (i cui genitori/tutori non partecipano
      all'attività) dovranno presentare agli amministratori il seguente modulo
      compilato, il mattino della prova:
    </p>

    <div style="width: fit-content" class="mx-auto">
      <contact-button
        iconClass="fas fa-file-alt"
        contactRedirect="https://drive.google.com/file/d/127vbQQVSKsztpbO-mbjW2UB5FBOiSt_e/view"
      ></contact-button>
    </div>
  </div>
</div>
