<div class="mt-lg-5 flex justify-content-center">
  <div class="mt-5 w-75">
    <h1
      id="pitch-title"
      class="flex justify-content-around text-secondary text-center"
    >
      Sei interessato al softair?
    </h1>
    <div
      id="wrapper"
      style="color: #525252"
      class="d-flex justify-content-center"
    >
      <div id="pitch" class="text-center">
        <p class="flex flex-wrap">
          Se sei interessato al mondo del Softair e vuoi provare l'ebrezza di
          questo sport, contattaci ai seguenti indirizzi e organizzeremo una
          prova al costo di €5,00* nella quale ti forniremo l'attrezzatura e ti
          insegneremo le basi del movimento tattico di squadra!
        </p>
        <div
          id="contacts-wrapper"
          class="flex sm:justify-start md:justify-around flex-wrap space-y-5 md:space-y-0"
        >
          <contact-button
            id="whatsapp"
            contactName="Whatsapp"
            contactValue="+393913225127"
            iconClass="fab fa-whatsapp"
            contactRedirect="https://api.whatsapp.com/send?phone=+393913225127"
          ></contact-button>
          <contact-button
            id="instagram"
            contactName="Instagram"
            contactValue="LEGIONE_ETRURIA"
            iconClass="fab fa-instagram"
            contactRedirect="https://www.instagram.com/legione_etruria/"
          ></contact-button>
          <contact-button
            id="email"
            contactName="Email"
            contactValue="legioneetruria@gmail.com"
            iconClass="fas fa-envelope"
            contactRedirect="mailto:legioneetruria@gmail.com"
          ></contact-button>
        </div>
        <p class="mt-5">
          I minori <b>NON accompagnati</b> (i cui genitori/tutori non
          partecipano all'attività) dovranno presentare agli amministratori il
          seguente modulo compilato, il mattino della prova.
        </p>

        <div id="underage_module" class="flex justify-center mt-3">
          <contact-button
            contactName="modulo.pdf"
            contactValue="tinyurl.com/twn2r8ps"
            iconClass="fas fa-file-alt"
            contactRedirect="https://drive.google.com/file/d/127vbQQVSKsztpbO-mbjW2UB5FBOiSt_e/view"
          ></contact-button>
        </div>
      </div>
    </div>

    <h1
      id="pitch-title"
      class="flex justify-content-around mt-5 text-secondary text-center"
    >
      Fai parte di un'altra associazione?
    </h1>
    <div class="d-flex justify-content-center">
      <div id="wrapper" style="color: #525252" class="w-100">
        <div class="d-flex justify-content-center">
          <div id="pitch" class="text-center">
            <p>
              Se fai parte di un'altra associazione e vuoi confrontarti con noi
              contatta Smith o Akira utilizzando i seguenti indirizzi per
              accordarci su modalità, luogo e orario dell'incontro.
            </p>
          </div>
        </div>
        <div
          class="flex justify-content-around flex-wrap space-y-5 md:space-y-0"
        >
          <div class="card" style="width: 18rem">
            <img
              class="card-img-top"
              src="../../assets/images/members/smith-play-with-us.jpeg"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title text-light-gold">Smith</h5>
              <a
                href="#"
                class="btn btn-outline-secondary text-light-gold w-100"
                ><i class="fas fa-phone fa-rotate-90"></i> Chiama</a
              >
              <a
                href="#"
                class="mt-2 btn btn-outline-secondary text-light-gold w-100"
                ><i class="fab fa-whatsapp"></i> Whatsapp</a
              >
            </div>
          </div>

          <div class="card" style="width: 18rem">
            <img
              class="card-img-top"
              src="../../assets/images/members/akira-play-with-us.jpeg"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title text-light-gold">Akira</h5>
              <a
                href="#"
                class="btn btn-outline-secondary text-light-gold w-100"
                ><i class="fas fa-phone fa-rotate-90"></i> Chiama</a
              >
              <a
                href="#"
                class="mt-2 btn btn-outline-secondary text-light-gold w-100"
                ><i class="fab fa-whatsapp"></i> Whatsapp</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
