<div class="flex w-full justify-between m-5">
  <img
    src="../../assets/images/members/main-wallpaper.jpg"
    class="shadow-xl rounded-2xl"
  />
  <div class="m-10 w-full">
    <h1 class="font-semibold text-3xl text-legio-gold-500">Legione Etruria</h1>
    <div class="text-lg text-gray-600 font-mono">
      🇮🇹 Italian Airsoft Team
      <div class="text-sm">
        📍 Prato, Toscana
        <div>
          membri di
          <a
            class="text-legio-gold-500 hover:text-legio-gold-600 font-bold hover:no-underline"
            href="https://www.instagram.com/coreto.figt"
          >
            @coreto.figt
          </a>
          e
          <a
            class="text-legio-gold-500 hover:text-legio-gold-600 font-bold hover:no-underline"
            href="https://www.instagram.com/figtasnwg"
          >
            @figtasnwg
          </a>
        </div>
      </div>
    </div>
    <button
      routerLink="/contattaci"
      class="text-bold bg-legio-green-400 rounded-full text-white shadow py-3 px-5 text-xl mt-5 transition duration-500 ease-in-out hover:bg-legio-gold-500 transform hover:-translate-t-1 hover:scale-110"
    >
      Iscriviti ora.
    </button>
  </div>
</div>
