@media screen and (max-width: 568px) {
  #splash-screen {
    margin-left: auto;
    margin-right: auto;
    margin-top: 65px;
    transform: scale(1.9);
  }

  #social-media-icons {
    text-align: center;
    vertical-align: middle;
    margin-top: 100px;
  }
}
