<div
  id="wrapper"
  class="border-transparent"
  style="color: #ac9d79; position: relative; cursor: pointer"
  (click)="visitLink()"
>
  <i id="icon" class="{{ iconClass }}" style="display: inline-block"></i>
  <div
    id="text-wrapper"
    style="
      display: inline-table;
      vertical-align: top;
      letter-spacing: 5px;
      color: #8d8d8d;
    "
  >
    <b id="contact-name" style="text-transform: capitalize">{{
      contactName
    }}</b>
    <p style="font-size: 12px">
      {{ contactValue }}
    </p>
  </div>
</div>
