<div
  id="wrapper"
  class="border-transparent text-light-gold position-relative flex justify-content-start text-truncate hover:bg-gray-100 rounded p-2 cursor-pointer"
  (click)="visitLink()"
>
  <i id="icon" class="{{ iconClass }} inline-block text-6xl"></i>

  <div
    id="text-wrapper"
    class="d-inline-block align-top ml-2"
    style="letter-spacing: 5px; color: #8d8d8d"
  >
    <b
      id="contact-name"
      class="text-capitalize flex justify-content-start text-3xl"
      >{{ contactName }}</b
    >
    <small>
      {{ contactValue }}
    </small>
  </div>
</div>
