<div
  style="
    z-index: -1;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  "
  appParallax
  [ratio]="0.5"
>
  <img src="../../assets/images/members/about-us-cover-photo.jpeg" />
</div>
<div
  style="
    text-align: center;
    margin-top: 20px;
    font-size: 40px;
    vertical-align: middle;
  "
>
  <div class="position-relative img-fluid w-100" style="padding-right: 20%">
    <div class="float-right">
      <img
        src="../../assets/images/logo/figt_logo.png"
        class="img-fluid mx-auto"
      />
      <img
        src="../../assets/images/logo/coreto_logo.png"
        class="img-fluid mx-auto mt-10"
      />
    </div>
  </div>

  <div style="margin-right: 30%">
    <h1 style="color: #ba8a06">Chi Siamo</h1>
  </div>

  <div
    class="text-justify"
    style="
      font-size: 18px;
      margin-left: 32%;
      margin-right: 32%;
      margin-top: 10px;
    "
  >
    Siamo una Associazione Sportiva neonata sul suolo Toscano, situati in
    provincia di Prato (PO) e dintorni, cerchiamo di affermarci come Squadra
    agonistica nello sport del Softair. Con allenamenti constanti e molti
    ex-militari tra i nostri ranghi trasformiamo diamanti grezzi in stelle ma
    lasciando spazio anche al divertimento! Lavoro di squadra, costanza e sani
    principi: questo è quello in cui crede Legione Etrvria!
  </div>
</div>
