<h2
  id="about_us_title"
  class="text-2xl md:text-4xl uppercase font-semibold tracking-wider text-gray-600 mx-2"
>
  chi siamo
</h2>

<div class="w-full md:w-5/12 mx-0 md:mx-10 mt-4">
  <div id="about_us_body" class="w-full text-lg">
    Siamo una <b> Associazione Sportiva </b> presente da pochi anni sul suolo
    Toscano, situati in provincia di Prato, cerchiamo di affermarci come Squadra
    agonistica nello sport del Softair all'interno della
    <b> F.I.G.T.</b>
    <div class="mt-2">
      Con allenamenti constanti e diversi ex-militari tra i nostri ranghi
      trasformiamo diamanti grezzi in stelle ma lasciando spazio anche al
      divertimento! Lavoro di squadra, costanza e sani principi; questo è quello
      in cui crede <b class="text-legio-gold-500"> Legione Etruria!</b>
    </div>
  </div>

  <div class="flex m-2 my-5 space-x-10 w-3/12 md:w-2/12">
    <img
      id="figt_img"
      src="../../assets/images/logo/figt_logo.png"
      class="object-contain"
    />
    <img id="coreto_img" src="../../assets/images/logo/coreto_logo.png" />
  </div>
</div>

<div class="flex justify-center px-0 md:px-4">
  <div
    class="flex space-x-2 overflow-scroll -rotate-3 shadow-xl rounded-lg"
    #slideShowContainer
  >
    <img
      src="../../assets/images/members/akira.jpeg"
      class="object-contain rounded shadow-xl w-4/12 md:w-2/12 h-2/12"
    />

    <img
      src="../../assets/images/members/combo1.jpeg"
      class="object-contain rounded shadow-xl w-4/12 md:w-2/12 h-2/12"
    />
    <img
      src="../../assets/images/members/drill.jpeg"
      class="object-contain rounded shadow-xl w-4/12 md:w-2/12 h-2/12"
    />
    <img
      src="../../assets/images/members/mosca.jpeg"
      class="object-contain rounded shadow-xl w-4/12 md:w-2/12 h-2/12"
    />
    <img
      src="../../assets/images/members/price.jpeg"
      class="object-contain rounded shadow-xl w-4/12 md:w-2/12 h-2/12"
    />
    <img
      src="../../assets/images/members/germanico.jpeg"
      class="object-contain rounded shadow-xl w-4/12 md:w-2/12 h-2/12"
    />
    <img
      src="../../assets/images/members/ariete.jpeg"
      class="object-contain rounded shadow-xl w-4/12 md:w-2/12 h-2/12"
    />
    <img
      src="../../assets/images/members/vecho.jpeg"
      class="object-contain rounded shadow-xl w-4/12 md:w-2/12 h-2/12"
    />
    <img
      src="../../assets/images/members/spike.jpeg"
      class="object-contain rounded shadow-xl w-4/12 md:w-2/12 h-2/12"
    />
    <img
      src="../../assets/images/members/rerum.jpeg"
      class="object-contain rounded shadow-xl w-4/12 md:w-2/12 h-2/12"
    />
    <img
      src="../../assets/images/members/combo2.jpeg"
      class="object-contain rounded shadow-xl w-4/12 md:w-2/12 h-2/12"
    />
    <img
      src="../../assets/images/members/taurus.jpeg"
      class="object-contain rounded shadow-xl w-4/12 md:w-2/12 h-2/12"
    />
    <img
      src="../../assets/images/members/scorpion.jpeg"
      class="object-contain rounded shadow-xl w-4/12 md:w-2/12 h-2/12"
    />
    <img
      src="../../assets/images/members/combo3.jpeg"
      class="object-cover rounded shadow-xl w-4/12 md:w-2/12 h-2/12"
    />
  </div>
</div>
