<app-loading (loadingDone)="loading = false"></app-loading>

<div class="smooth h-full" [class.opacity-0]="loading">
  <app-lines type="end"></app-lines>
  <div class="flex flex-col justify-between min-h-screen">
    <app-page-title label="chi siamo"></app-page-title>
    <div class="flex flex-col lg:flex-row justify-around w-full space-y-5 my-5">
      <div
        class="text-white font-reem-kufi w-full lg:w-6/12 text-center text-lg"
        style="word-spacing: 0.1rem"
      >
        <p>
          Siamo una squadra di softair con sede a Prato dal 2021. L'ASD è nata
          da un piccolo gruppo di appassionati che ogni domenica si allenava
          duramente per riuscire ad arrivare al livello agonistico e ad oggi
          conta più di 20 atleti.
        </p>
        <br />
        <p>
          Ci piace sfidare noi stessi e mettere alla prova le nostre abilità
          tattiche e di mira, ogni allenamento è un'opportunità per migliorarci
          e crescere come squadra.
        </p>
        <br />
        <p>
          La nostra determinazione e impegno ci hanno portato a ottenere
          risultati notevoli nel circuito delle competizioni in un solo anno di
          attività ma, oltre alla competizione, ci divertiamo molto insieme:
          Siamo come una famiglia, ci sosteniamo e ci divertiamo durante le
          partitew e gli allenamenti.
        </p>
        <br />
        Il softair è un'esperienza che ci unisce e ci fa sentire vivi e
        cerchiamo continuamente di crescere e mostrare la passione che abbiamo
        per questo sport. Siamo orgogliosi di rappresentare Prato e di essere
        parte di questa emozionante comunità. Siamo pronti per nuove sfide e per
        continuare a fare il nostro meglio nel mondo del softair !
      </div>

      <div class="flex lg:flex-col lg:w-3/12 justify-center lg:space-y-5">
        <div class="logo-container">
          <img
            (mousemove)="utilsService.rotateItem($event, 4)"
            (mouseleave)="utilsService.resetItem($event)"
            id="coreto_img"
            src="../../assets/images/logo/coreto_logo.webp"
            class="logo animate__fadeInRight animate__animated animate__delay-2s"
          />
        </div>
        <div class="logo-container">
          <img
            (mousemove)="utilsService.rotateItem($event, 4)"
            (mouseleave)="utilsService.resetItem($event)"
            id="figt_img"
            src="../../assets/images/logo/figt_logo.webp"
            style="animation-delay: 2.2s"
            class="logo animate__fadeInRight animate__animated"
          />
        </div>
      </div>
    </div>

    <app-carousel></app-carousel>
  </div>
  <div
    class="fixed bottom-0 w-full h-4/6 -z-10 blur-lg animate__fadeInUp animate__animated animate__delay-2s animate__slow overflow-y-clip"
  >
    <img
      src="/assets/images/splash/group_2.webp"
      class="w-full h-full object-cover"
    />
  </div>
</div>
