<meta
  name="theme-color"
  content="#3b3d2e"
  media="(prefers-color-scheme: light)"
/>
<meta
  name="theme-color"
  content="#3b3d2e"
  media="(prefers-color-scheme: dark)"
/>

<div class="position-absolute w-100">
  <picture>
    <img
      src="../assets/images/Menu_bar_6.png"
      class="float-right img-fluid"
      style="max-width: 600px"
    />
  </picture>
</div>

<div
  class="row position-relative align-items-center"
  style="vertical-align: middle; height: 100px; max-width: 100%"
>
  <img
    src="../assets/images/logo/PatchSquadraSVG.svg"
    class="float-left"
    style="max-width: 80px; margin-left: 20px"
  />

  <div class="col position-absolute">
    <ul class="nav justify-content-end navbar-dark">
      <li class="nav-item">
        <a
          class="nav-link active"
          routerLink="/"
          [ngClass]="{ disabled: checkRoute() === '/home' }"
          ><i class="fas fa-home"></i> Home</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [ngClass]="{ disabled: checkRoute() === '/membri' }"
          routerLink="/membri"
          ><i class="fas fa-users"></i> Membri</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"
          ><i class="fas fa-info"></i> Gioca con noi</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/chi-siamo"
          [ngClass]="{ disabled: checkRoute() === '/chi-siamo' }"
          ><i class="fas fa-question"></i> Chi Siamo</a
        >
      </li>
    </ul>
  </div>
</div>
<router-outlet></router-outlet>

<div class="thumbnail text-center col align-self-center">
  <div class="span1bg-primary text-center">
    <img
      class="center-block img-fluid rounded mx-auto d-block"
      src="../assets/images/Footer_bg_2.png"
      style="max-width: 1000px"
    />
    <div class="caption sticky-bottom" style="color: whitesmoke">
      <p>©2021 di Legione Etrvria Softair A.S.D.</p>
      <span>Sviluppato da Vecchietti Stefano e Ruja Emanuele Andrea</span>
      <p>
        Prato(PO), Toscana. Italia | legioneetruria@gmail.com | C.F: 92109860483
      </p>
      <i class="fas fa-qrcode" style="font-size: 50px"></i>
    </div>
  </div>
</div>
