<!-- <meta
  name="theme-color"
  content="#3b3d2e"
  media="(prefers-color-scheme: light)"
/>
<meta
  name="theme-color"
  content="#3b3d2e"
  media="(prefers-color-scheme: dark)"
/> -->
<!-- component -->
<!-- component -->
<div class="max-h-screen h-screen max-w-screen sm:w-auto lg:hidden">
  <div>
    <div class="bg-gray-100 rounded sticky inset-x-0 top-5 m-4 shadow">
      <img src="../assets/images/logo/PatchSquadraSVG.svg" class="h-20 p-2" />
    </div>

    <ng-container *ngTemplateOutlet="routerOutlet"></ng-container>
    <div class="sticky inset-x-0 bottom-5 h-16 text-white flex justify-center">
      <div
        class="flex flew-row w-11/12 h-full rounded-full px-3 bg-legio-green-400 shadow-lg border-4 border-legio-gold-500"
      >
        <a
          class="my-auto rounded-full w-1/5 p-1 flex justify-center"
          [routerLink]="route.routerLink"
          routerLinkActive="border border-white rounded-full shadow"
          *ngFor="let route of appRoutes"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-8 h-8 mx-1 sm:w-6 sm:h-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              *ngFor="let path of route.iconPaths"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              [attr.d]="path"
            />
          </svg>
        </a>
      </div>
    </div>
  </div>
</div>

<!--! DESKTOP -->
<div class="hidden lg:block w-screen h-screen">
  <div class="flex justify-between items-center rounded m-1">
    <img src="../assets/images/logo/PatchSquadraSVG.svg" class="w-24" />
    <div class="flex dark:border-gray-700 space-x-5">
      <button
        *ngFor="let route of appRoutes"
        [routerLink]="route.routerLink"
        routerLinkActive="text-legio-gold-500 border shadow"
        class="transition duration-500 ease-in-out bg-blue-600 transform hover:-translate-t-1 hover:scale-110 flex items-center h-10 px-2 py-2 -mb-px text-center bg-transparent sm:px-4 -px-1 whitespace-nowrap focus:outline-none rounded"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="w-4 h-4 mx-1 sm:w-6 sm:h-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            *ngFor="let path of route.iconPaths"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            [attr.d]="path"
          />
        </svg>

        <span class="mx-1 text-sm sm:text-base"> {{ route.label }} </span>
      </button>
    </div>
  </div>

  <!-- <ng-container *ngTemplateOutlet="routerOutlet"></ng-container> -->

  <!-- <footer id="footer" class="">
    <div class="col self-center absolute" id="footer-wrapper">
      <img
        id="footer-bubble"
        class="mx-auto block img-responsive"
        src="../assets/images/Footer_bg_2.png"
        style="max-width: 1000px"
      />
      <div class="span1bg-primary text-center mt-10">
        <div id="footer-content" class="caption sticky-bottom text-gray-400">
          <p>©2021 di Legione Etrvria Softair A.S.D.</p>
          <span>Sviluppato da Vecchietti Stefano e Ruja Emanuele Andrea</span>
          <p id="footer-info">
            Prato(PO), Toscana. Italia | legioneetruria@gmail.com | C.F:
            92109860483
          </p>
          <i class="fas fa-qrcode" style="font-size: 50px"></i>
        </div>
      </div>
    </div>
  </footer> -->
</div>

<ng-template #routerOutlet>
  <div id="body-wrapper" class="my-10">
    <router-outlet></router-outlet>
  </div>
</ng-template>
