.thumbnail {
  position: relative;
}

.caption {
  position: absolute;
  top: 45%;
  left: 0;
  width: 100%;
}

a {
  color: #ffffff;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #946c00;
}

header nav {
  display: block;
}

@media screen and (max-width: 768px) {
  header nav {
    display: block;
  }

  header #header_bubble {
    width: 450px;
  }

  #footer-wrapper {
    position: fixed;
    bottom: 0;
  }

  #footer-content {
    text-align: right;
    margin-top: 20px;
    margin-right: 10px;
    width: fit-content;
    font-size: 18px;
  }

  #footer-info {
    margin-left: 100px;
  }
}

@media screen and (max-width: 1080px) {
  //TABLETS
  header label {
    display: none;
  }

  header nav {
    font-size: 24px;
    margin-bottom: 30px;
    letter-spacing: 20px;
  }

  header #header_bubble {
    width: 450px;
  }
}

@media screen and (max-width: 568px) {
  //PHONES
  header label {
    display: none;
  }

  header nav {
    font-size: 24px;
    margin-bottom: 70px;
    letter-spacing: 10px;
  }

  header #header_bubble {
    width: 300px;
  }

  #footer-content {
    text-align: right;
    margin-left: 100px;
    margin-top: 40px;
    margin-right: 10px;
    width: fit-content;
    font-size: 10px;
  }

  #footer {
    position: relative;
    display: none;
  }
}

@media screen and (max-width: 320px) {
  //PHONES

  #logo {
    display: none;
  }
}
