.thumbnail {
  position: relative;
}

.caption {
  position: absolute;
  top: 45%;
  left: 0;
  width: 100%;
}

a {
  color: #ffffff;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #946c00;
}

header nav {
  display: block;
}

@media screen and (max-width: 768px) {
  header nav {
    display: none;
  }

  header #green_bubble {
    width: 500px;
  }

  header #logo {
    margin-left: unset;
    background-color: violet;
  }

  router-outlet {
    position: relative;
  }
}
