<div
  class="justify-between p-4 h-32 hidden lg:flex border-b mx-10 border-gray-400/50"
>
  <div class="flex space-x-20 relative">
    <img
      src="assets/images/logo/logo.webp"
      (click)="this._utils.scrollToAnchor('homepage')"
      routerLinkActive="animate__fadeOutBottomRight  animate__fast"
      style="animation-delay: 1.5s"
      class="smooth hover:brightness-125  w-24 object-contain left-20 animate__animated cursor-pointer"
    />

    <ng-container *ngFor="let item of appRoutes">
      <ng-container
        [ngTemplateOutlet]="NavItem"
        [ngTemplateOutletContext]="{item}"
      ></ng-container>
    </ng-container>
  </div>
  <div class="m-auto mx-2">
    <ng-container
      [ngTemplateOutlet]="NavItem"
      [ngTemplateOutletContext]="{
        item: {
          disabled: false,
          href: 'https://members.legioneetruria.com/',
          iconPaths: [
            'M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z'
          ],
          label: 'Area membri'
        }
      }"
    ></ng-container>
  </div>
</div>

<ng-template #NavItem let-item="item">
  <a [attr.href]="item.href" class="my-auto">
    <button
      (click)="item.anchor ? this._utils.scrollToAnchor(item.anchor) : null"
      routerLinkActive="active"
      class="nav-item smooth"
    >
      {{ item.label }}
    </button>
  </a>
</ng-template>
