<div class="justify-between p-4 h-32 hidden lg:flex">
  <div class="flex space-x-20 relative">
    <img
      src="assets/images/logo/logo.webp"
      routerLink="/home"
      [class.opacity-0]="!isHome"
      routerLinkActive="animate__fadeOutBottomRight animate__animated animate__delay-2s animate__faster"
      class="smooth hover:brightness-125 cursor-pointer absolute w-24 object-contain left-20"
    />
    <img
      [class.animate__fadeInBottomRight]="!isHome"
      [class.opacity-0]="isHome"
      src="assets/images/logo/logo.webp"
      class="pointer-events-none animate__animated object-contain h-full"
    />

    <ng-container *ngFor="let item of appRoutes">
      <ng-container
        [ngTemplateOutlet]="NavItem"
        [ngTemplateOutletContext]="{item}"
      ></ng-container>
    </ng-container>
  </div>
  <div class="my-auto">
    <ng-container
      [ngTemplateOutlet]="NavItem"
      [ngTemplateOutletContext]="{
        item: {
          disabled: false,
          href: 'https://members.legioneetruria.com/',
          iconPaths: [
            'M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z'
          ],
          label: 'Area membri'
        }
      }"
    ></ng-container>
  </div>
</div>

<ng-template #NavItem let-item="item">
  <a [attr.href]="item.href" class="my-auto">
    <button
      [routerLink]="item.href?.length ? null : item.routerLink"
      routerLinkActive="active"
      class="nav-item smooth"
    >
      {{ item.label }}
    </button>
  </a>
</ng-template>
