<div class="flex flex-col overflow-hidden my-5 lg:my-2 justify-between">
  <app-page-title label="gioca con noi"></app-page-title>

  <div
    class="text-white font-reem-kufi w-11/12 text-center text-lg lg:text-xl space-y-10 my-5 mx-auto brightness-90"
    style="word-spacing: 0.1rem"
  >
    <p>
      Scopri il mondo del Softair e vivi un'esperienza unica! Se ami
      l’adrenalina e vuoi metterti alla prova in uno sport emozionante, questa è
      l’occasione perfetta per te.
    </p>

    <p>
      Unisciti a noi e immergiti in un ambiente sicuro e coinvolgente, dove il
      Softair diventa un'esperienza di alta qualità. Ci alleniamo regolarmente
      con professionalità, fornendo l’attrezzatura necessaria e insegnando le
      basi del movimento tattico di squadra. Che tu sia un principiante o un
      giocatore esperto, ti aspetta una giornata ricca di divertimento, azione e
      nuove sfide. La nostra associazione è inclusiva e accogliente: ti
      aspettiamo con entusiasmo!
    </p>

    <p>
      Contattaci attraverso i nostri canali per prenotare la tua prova gratuita!
    </p>
  </div>

  <div
    class="flex flex-col lg:flex-row mx-auto justify-around space-y-5 lg:space-y-0 w-full lg:space-x-10 items-center my-20 px-2"
  >
    <contact-button
      class="w-full"
      id="whatsapp"
      contactName="Whatsapp"
      contactValue="+393517145721"
      iconClass="fab fa-whatsapp"
      contactRedirect="https://wa.me/message/LXR54HWNTNY2P1"
    ></contact-button>
    <contact-button
      class="w-full"
      id="instagram"
      contactName="Instagram"
      contactValue="LEGIONE_ETRURIA"
      iconClass="fab fa-instagram"
      contactRedirect="https://www.instagram.com/legione_etruria/"
    ></contact-button>
    <contact-button
      class="w-full"
      id="email"
      contactName="Email"
      contactValue="info@legioneetruria.com"
      iconClass="fas fa-envelope"
      contactRedirect="mailto:info@legioneetruria.com"
    ></contact-button>
  </div>
</div>
<div
  class="absolute -bottom-20 right-0 h-5/6 -z-50 animate__fadeInRight animate__animated animate__slow pointer-events-none brightness-0 blur-md items-end"
>
  <img
    src="/assets/images/splash/airsoft_1.png"
    class="w-full h-full object-cover object-bottom"
  />
</div>
