<div class="w-full">
  <h2
    class="text-2xl md:text-4xl uppercase font-semibold tracking-wider text-gray-600 flex justify-center"
  >
    sei interessato al softair?
  </h2>

  <div class="flex justify-center">
    <div class="text-center flex justify-center m-10 w-11/12 md:w-6/12 text-lg">
      Se sei interessato al mondo del Softair e vuoi provare l'ebrezza di questo
      sport, contattaci ai seguenti indirizzi e organizzeremo una prova
      gratuita* nella quale ti forniremo l'attrezzatura e ti insegneremo le basi
      del movimento tattico di squadra!
    </div>
  </div>

  <div
    class="flex w-full flex-wrap lg:flex-nowrap space-x-0 lg:space-x-10 justify-center space-y-2 md:space-y-0"
  >
    <contact-button
      id="whatsapp"
      contactName="Whatsapp"
      contactValue="+393270851896"
      iconClass="fab fa-whatsapp"
      contactRedirect="https://api.whatsapp.com/send?phone=+393270851896"
    ></contact-button>
    <contact-button
      id="instagram"
      contactName="Instagram"
      contactValue="LEGIONE_ETRURIA"
      iconClass="fab fa-instagram"
      contactRedirect="https://www.instagram.com/legione_etruria/"
    ></contact-button>
    <contact-button
      class="hidden md:block"
      id="email"
      contactName="Email"
      contactValue="legioneetruria@gmail.com"
      iconClass="fas fa-envelope"
      contactRedirect="mailto:legioneetruria@gmail.com"
    ></contact-button>
  </div>

  <div class="flex justify-center m-5">
    <div>
      <div class="flex justify-center">
        <div class="text-center m-10 w-11/12 md:w-6/12 text-lg">
          I minori <b>NON accompagnati</b> (i cui genitori/tutori non
          partecipano all'attività) dovranno presentare agli amministratori il
          seguente modulo compilato il mattino della prova.
        </div>
      </div>

      <div class="flex justify-center">
        <contact-button
          contactName="LIBERATORIA.PDF"
          contactValue="tinyurl.com/twn2r8ps"
          iconClass="fas fa-file-alt"
          contactRedirect="https://drive.google.com/file/d/127vbQQVSKsztpbO-mbjW2UB5FBOiSt_e/view"
        ></contact-button>
      </div>
    </div>
  </div>
</div>
