<div class="flex flex-col overflow-hidden my-2 justify-between">
  <app-page-title label="gioca con noi"></app-page-title>

  <div
    class="text-white font-reem-kufi w-11/12 text-center text-xl space-y-10 my-5 mx-auto"
    style="word-spacing: 0.1rem"
  >
    <p>
      Esplora il mondo del Softair e vivi un'esperienza unica! Se sei
      appassionato di adrenalina e desideri provare questo coinvolgente sport,
      siamo qui per offrirti un'opportunità imperdibile.
    </p>
    <p>
      Unisciti a noi e scopri un ambiente sicuro e stimolante, dedicato al
      Softair di alta qualità. Ci alleniamo regolarmente, in modo professionale,
      fornendo attrezzatura e insegnando le basi del movimento tattico di
      squadra. Sia che tu sia un principiante o un veterano, ti garantiamo una
      giornata divertente, arricchente e memorabile. La nostra associazione è
      inclusiva e accogliente, pronta ad accoglierti con entusiasmo.
    </p>
    <p>
      Contattaci ad uno dei seguenti canali per prenotare la tua prova gratuita!
    </p>
  </div>

  <div
    class="flex flex-col lg:flex-row mx-auto justify-around space-y-5 lg:space-y-0 w-full lg:space-x-10 items-center my-20"
  >
    <contact-button
      id="whatsapp"
      contactName="Whatsapp"
      contactValue="+393517145721"
      iconClass="fab fa-whatsapp"
      contactRedirect="https://wa.me/message/LXR54HWNTNY2P1"
    ></contact-button>
    <contact-button
      id="instagram"
      contactName="Instagram"
      contactValue="LEGIONE_ETRURIA"
      iconClass="fab fa-instagram"
      contactRedirect="https://www.instagram.com/legione_etruria/"
    ></contact-button>
    <contact-button
      class="hidden md:block"
      id="email"
      contactName="Email"
      contactValue="info@legioneetruria.com"
      iconClass="fas fa-envelope"
      contactRedirect="mailto:info@legioneetruria.com"
    ></contact-button>
  </div>
</div>
<div
  class="absolute bottom-0 right-0 h-5/6 -z-50 animate__fadeInRight animate__animated animate__slow pointer-events-none brightness-0 blur-md items-end"
>
  <img
    src="/assets/images/splash/airsoft_1.png"
    class="w-full h-full object-cover object-bottom"
  />
</div>
