<div
  id="wrapper"
  class="border-transparent text-legio-green-300 truncate hover:bg-white/10 rounded p-2 cursor-pointer"
  (click)="visitLink()"
>
  <div class="flex max-w-fit justify-center">
    <i id="icon" class="{{ iconClass }} text-6xl" *ngIf="!imagePath"></i>
    <div class="flex flex-col justify-end">
      <div
        id="text-wrapper"
        class="align-top ml-2"
        style="letter-spacing: 5px; color: #8d8d8d"
      >
        <b id="contact-name" class="capitalize flex justifystart text-3xl">{{
          contactName
        }}</b>
        <small>
          {{ contactValue }}
        </small>
      </div>
    </div>
  </div>
  <div class="max-w-xs mt-1">
    <img
      [src]="imagePath"
      *ngIf="imagePath"
      class="rounded-lg object-contain"
    />
  </div>
</div>
