<div
  id="wrapper"
  class="border-transparent text-legio-green-300 flex justify-start truncate hover:bg-gray-100 rounded p-2 cursor-pointer"
  (click)="visitLink()"
>
  <i id="icon" class="{{ iconClass }} inline-block text-6xl"></i>

  <div
    id="text-wrapper"
    class="inline-block align-top ml-2"
    style="letter-spacing: 5px; color: #8d8d8d"
  >
    <b id="contact-name" class="capitalize flex justifystart text-3xl">{{
      contactName
    }}</b>
    <small>
      {{ contactValue }}
    </small>
  </div>
</div>
