<div class="w-full h-screen flex">
  <div class="flex flex-col justify-center h-full lg:mx-20 page-title w-6/12">
    <h1 class="whitespace-nowrap title-gradient pt-4">LEGIONE ETRURIA</h1>
    <h4 class="text-lg lowercase text-right text-gray-100 drop-shadow">
      <div>Italian Airsoft Team 🇮🇹</div>

      <div>Prato, Toscana 📍</div>

      <div>membri di @coreto_figt e @figtasnwg</div>
    </h4>
  </div>
  <img
    src="/assets/images/splash/rain.png"
    class="saturate-150 contrast-125 brightness-90 -scale-x-100 h-screen -z-10 lg:z-auto w-6/12 object-contain bottom-0 object-bottom"
  />
</div>
