<div class="w-full h-screen overflow-clip flex">
  <div class="flex flex-col justify-center h-full lg:mx-20 page-title w-6/12">
    <img
      src="../assets/images/logo/patchSquadraPNG.png"
      class="animate__fadeInDown animate__animated object-contain p-2 w-full h-2/6"
    />

    <h1 class="whitespace-nowrap pt-4">LEGIONE ETRURIA</h1>
    <h4
      class="text-lg normal-case text-right text-gray-100 drop-shadow font-special-elite"
    >
      <div>Italian Airsoft Team 🇮🇹</div>

      <div>Prato, Toscana 📍</div>

      <div class=" ">
        Membri di
        <a class="link" href="https://www.instagram.com/coreto_figt">
          @coreto_figt
        </a>
        e
        <a class="link" href="https://www.instagram.com/figtasnwg">
          @figtasnwg
        </a>
        🏅
      </div>
    </h4>
  </div>
  <div class="h-screen w-6/12 relative">
    <!-- SOLDIER ARMY BORDER -->
    <div
      class="absolute w-8/12 h-5/6 rounded-3xl border-8 right-0 left-0 top-0 bottom-0 m-auto animate__animated animate__slow animate__zoomIn animate__delay-3s shadow-2xl border-legio-gold-50 shadow-legio-gold-50 brightness-75"
    ></div>

    <div
      class="absolute m-auto left-0 right-0 top-0 bottom-0 flex flex-col justify-center z-10 items-center space-y-10"
    >
      <button
        routerLink="/contattaci"
        class="text-bold backdrop-blur-xl backdrop-brightness-125 rounded-full text-legio-gold-50 hover:text-white py-4 px-6 text-2xl mt-5 transition duration-500 ease-in-out hover:bg-legio-gold-500 transform hover:-translate-t-1 hover:scale-110 my-10 animate__animated animate__slow animate__fadeInUp animate__delay-3s font-reem-kufi shadow-lg shadow-legio-gold-50/50"
      >
        Iscriviti ora!
      </button>
      <app-socials></app-socials>
    </div>

    <div class="-scale-x-100">
      <img
        src="/assets/images/splash/rain.png"
        class="animate__fadeInLeft animate__slow animate__delay-1s animate__animated saturate-200 contrast-125 brightness-90 h-screen -z-10 lg:z-auto object-contain bottom-0 object-bottom"
      />
    </div>
  </div>
</div>
