<app-loading (loadingDone)="loading = false"></app-loading>

<div
  class="w-full h-full overflow-auto overflow-x-hidden lg:overflow-clip flex flex-col lg:flex-row smooth"
  [class.opacity-0]="loading"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    version="1.1"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    xmlns:svgjs="http://svgjs.dev/svgjs"
    class="lines"
    preserveAspectRatio="none"
    viewBox="0 0 1440 560"
  >
    <g mask='url("#SvgjsMask1006")' fill="none">
      <path
        d="M505.65 628.95C630.65 602.85 594.87 279.19 877.34 278.59 1159.82 277.99 1430.2 445.55 1620.73 446.59"
        stroke="rgba(255, 255, 255, 0.62)"
        stroke-width="2"
      ></path>
      <path
        d="M226.22 636.81C444.04 612.3 573.17 134.65 942.98 131.8 1312.78 128.95 1477.16 271.15 1659.73 271.8"
        stroke="rgba(255, 255, 255, 0.62)"
        stroke-width="2"
      ></path>
      <path
        d="M303.33 636.68C452.55 582.43 471.64 150.17 694.39 136.27 917.14 122.37 889.93 206.27 1085.46 206.27 1280.99 206.27 1377.2 136.55 1476.52 136.27"
        stroke="rgba(255, 255, 255, 0.62)"
        stroke-width="2"
      ></path>
      <path
        d="M798.1 663.87C909.81 626.55 865.3 301.79 1097.18 299.85 1329.07 297.91 1542.38 427.92 1695.35 428.65"
        stroke="rgba(255, 255, 255, 0.62)"
        stroke-width="2"
      ></path>
      <path
        d="M479.82 572.91C636.02 571.7 764.63 424.51 1085.24 418.47 1405.86 412.43 1525.17 155.62 1690.67 149.67"
        stroke="rgba(255, 255, 255, 0.62)"
        stroke-width="2"
      ></path>
    </g>
    <defs>
      <mask id="SvgjsMask1006">
        <rect width="1440" height="560" fill="#ffffff"></rect>
      </mask>
    </defs>
  </svg>

  <div
    class="flex flex-col justify-center lg:mx-20 page-title w-full lg:w-6/12 text-center items-center"
  >
    <div
      (mousemove)="utilsService.rotateItem($event, 9)"
      (mouseleave)="utilsService.resetItem($event)"
      class="h-2/6 mx-auto"
    >
      <img
        src="../assets/images/logo/logo.webp"
        class="brightness-90 saturate-[.7] object-contain h-40 lg:h-full mx-auto"
      />
    </div>

    <h1 class="whitespace-nowrap pt-4 drop-shadow-xl w-fit">LEGIONE ETRURIA</h1>
    <h4
      class="text-lg normal-case text-gray-100 drop-shadow font-special-elite w-full lg:w-11/12 mx-auto py-2 text-center lg:text-right"
    >
      <div>Italian Airsoft Team 🇮🇹</div>

      <div>Prato, Toscana 📍</div>

      <div class=" ">
        Membri di
        <a class="link" href="https://www.instagram.com/coreto_figt">
          @coreto_figt
        </a>
        e
        <a class="link" href="https://www.instagram.com/figtasnwg">
          @figtasnwg
        </a>
        🏅
      </div>
    </h4>
  </div>
  <div class="w-full lg:w-6/12 relative">
    <!-- SOLDIER ARMY BORDER -->
    <div
      #Border
      class="absolute w-10/12 lg:w-8/12 h-5/6 rounded-3xl border-8 right-0 left-0 lg:top-0 bottom-10 lg:bottom-0 m-auto animate__animated animate__delay-2s animate__slow animate__zoomIn animate__delay-3s shadow-2xl border-legio-gold-200 shadow-legio-gold-100 card smooth brightness-125"
    >
      <img
        src="/assets/images/splash/landscape_1.webp"
        class="object-center h-full w-full rounded-2xl blur brightness-110"
      />
    </div>

    <div
      class="call-to-action flex flex-col justify-center z-10 items-center w-fit h-fit"
    >
      <button
        routerLink="/contattaci"
        class="text-bold backdrop-blur-xl backdrop-brightness-90 rounded-full text-legio-gold-50 hover:text-white py-4 px-6 text-2xl mt-5 transition duration-500 ease-in-out hover:bg-legio-gold-500 transform hover:-translate-t-1 hover:scale-110 my-10 animate__animated animate__delay-2s animate__slow animate__fadeInUp animate__delay-3s font-reem-kufi shadow-lg shadow-legio-gold-50/50"
      >
        Iscriviti ora!
      </button>
      <app-socials></app-socials>
    </div>

    <div class="-scale-x-100 lg:absolute bottom-0 left-0 right-0">
      <img
        src="/assets/images/splash/night.webp"
        class="animate__fadeInLeft animate__slow animate__animated animate__delay-2s -z-10 lg:z-auto object-contain object-bottom w-full h-3/6 lg:h-screen"
      />
    </div>
  </div>
</div>
